<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.repository.BookDAOMyBatis">

     <select id="bookList" resultType="com.example.entity.BookDTO"
             parameterType="com.example.entity.Criteria">
         select * from book  limit  #{pageStart}, #{perPageNum}
     </select>

    <delete id="bookDelete">
        delete from book where num=#{num}
    </delete>

    <insert id="bookInsert" parameterType="com.example.entity.BookDTO">
        insert into book(title, price, author, page)
        values(#{title},#{price},#{author},#{page})
    </insert>

    <select id="bookView" resultType="com.example.entity.BookDTO">
        select * from book where num=#{num}
    </select>

    <update id="bookUpdate" parameterType="com.example.entity.BookDTO">
        update book set
        title=#{title},
        price=#{price},
        author=#{author},
        page=#{page}
        where num=#{num}
    </update>

    <select id="totalCount" resultType="int">
        select count(*) from book
    </select>

</mapper>